@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.content {
		@apply container mx-auto;
	}
	header {
		@apply container mx-auto;
		@apply mb-2 mt-2;
		@apply grid grid-cols-2;
		.upload-button {
			@apply rounded bg-blue-600 px-3 py-2 text-gray-50 font-bold;
			@apply place-self-end;
		}
		h1 {
			@apply text-4xl font-bold inline-block;
		}
	}
	
	
	.no-video {
		@apply bg-red-300 font-bold text-center w-full p-6 rounded-xl mt-5 shadow-md;
	}

	.video {
		@apply rounded-xl bg-gray-200 p-6 mt-3;
	}

	.thumbnail {
		@apply relative overflow-hidden inline-block cursor-pointer;
		
		width: 256px;
		height: 256px;
		img {
			@apply absolute left-1/2 top-1/2 h-full w-auto;
			max-width: inherit;
			transform: translate(-50%,-50%);
		}
	}

	.description {
		@apply pl-3;
		@apply inline-block;
		vertical-align: top;
		@apply text-lg;
		span {
			@apply font-bold;
		}
		.play-button {
			@apply rounded bg-blue-600 px-3 py-2 text-gray-50 font-bold;
		}
	}

	.video-player {
		display: none;
		@apply fixed w-full h-full;
		@apply top-0 left-0 right-0 bottom-0;
		z-index: 10;
		@apply bg-gray-300 bg-opacity-75;
		video {
			@apply relative;
			@apply top-1/2 left-1/2;
			@apply -translate-x-1/2 -translate-y-1/2;
		}
		.cross {
			@apply fixed right-4 top-4 font-extrabold text-2xl cursor-pointer;
		}

	}
	


	.upload-form {
		@apply bg-gray-200 rounded-xl p-6;
		width: 500px;
		@apply mx-auto mt-4;
		input[type=submit] {
			@apply rounded bg-blue-600 px-3 py-2 text-gray-50 font-bold;
		}
		label {
			@apply font-bold text-gray-800;
		}
		.field {
			@apply mt-1 mb-3;
		}
	}
}