{{ define "base" }}
<!doctype html>
<html lang="en">
	<head>
		<title>{{ template "title" . }}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<a href="/">
				<h1>Video Uploader</h1>
			</a>
			<a href="/upload" class="upload-button">Upload</a>
		</header>
		<div class="content">
			{{ template "main" . }}
		</div>
		{{ block "extra-scripts" . }}
		{{ end }}
	</body>
</html>
{{ end }}