{{ template "base" . }}

{{ define "title" }}Home{{ end}}

{{ define "main" }}
{{ range .Videos }}
	<div class="video">
		<div class="thumbnail" data-play="/media/{{ .FileName }}">
			<img src="/thumbnail/{{ .ID }}/256.jpg" alt="{{ .Title }}" title="{{ .Title }}">
		</div>
		<div class="description">
			<p>
				<span>Title:</span> {{ .Title }}
			</p>
			<p>
				<span>Category:</span> {{ .Category.Name }}
			</p>
			<p class="mt-3"><a href="/media/{{ .FileName }}" class="play-button" data-play="/media/{{ .FileName }}">Play</a></p>
		</div>
	</div>
{{ else }}
	<div class="no-video">
		No videos uploaded
	</div>
{{ end }}

<div class="video-player">
	<div class="cross">X</div>
	<video id="player" src="" controls></video>
</div>

{{ end }}

{{ define "extra-scripts" }}
	<script src="/static/player.js"></script>
{{ end }}