{{ template "base" . }}
{{ define "title" }}Upload a video{{ end}}
{{ define "main" }}
	<form action="/upload" method="POST" enctype="multipart/form-data" class="upload-form">
		<input type="hidden" name="token" value="{{ .Token }}">
		<input type="hidden" name="hash" value="{{ .Hash }}">
		<div>
			<label for="video">Video file</label>
			<div class="field">
				<input type="file" name="video" accept=".mov,.mp4" required />
			</div>
		</div>
		<div>
			<label for="title">Title</label>
			<div class="field">
				<input type="text" name="title" required placeholder="Title"  class="rounded-md w-full" />
			</div>
		</div>
		<div>
			<label for="category">Category</label>
			<div class="field">
				<select name="category" id="category" class="rounded-md w-full">
					{{ range .Categories }}
						<option value="{{ .ID }}">{{ .Name }}</option>
					{{ end }}
				</select>
			</div>
		</div>
		<div>
    		<input type="submit" value="Upload" />
		</div>
	</form>
{{ end }}